<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"  
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xmlns:aop="http://www.springframework.org/schema/aop"
		  xmlns:context="http://www.springframework.org/schema/context"
		  xsi:schemaLocation="http://www.springframework.org/schema/beans 
		                      http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
		                      http://www.springframework.org/schema/aop  
		                      http://www.springframework.org/schema/aop/spring-aop-2.0.xsd 
		                      http://www.springframework.org/schema/context  
		                      http://www.springframework.org/schema/aop/spring-context-2.0.xsd 
		                      ">
 <!-- 启动注解     
 	   <context:annotation-config></context:annotation-config>   
 	-->   
 	<bean name="userDao" class="com.zoomkey.dao.daoimp.UserDaoImp">
 		 
 	</bean>
 	<bean name="userBiz" class="com.zoomkey.biz.bizimp.UserBizImp">
 		<property name="userBiz" ref="userDao"></property>
 	</bean>
 	<bean name="userAction" class="com.zoomkey.web.UserAction">
 		<property ref="userBiz" name="userBiz"></property>
 	</bean>

</beans>